<header id="menu-overlay-container">
	<div id="close-menu-container">
		<span class="close-menu-item">
			<i class="fa fa-window-close"></i>
		</span>
	</div>
	<div class="centered-container">
		<div id="overlay-menu-items-container" class="centered-content text-center">
			<p><a href="/">Home</a></p>
			<p><a href="/projects">Projects</a></p>
			<p><a href="/contact">Contact</a></p>

		</div>
	</div>
</header>