/* Responsive Styles for home page */

@import "../../mixins/_responsive-mixins.scss";

/* Home SVG */
#svgAttributes {
	svg {

		@include for-width-large-2-under {
			max-width: 325px;
			max-height: 325px;				
		}

		@include for-width-small-5-under  {
			max-width: 275px;
			max-height: 275px;		
		}

		@include for-width-small-2-under  {
			max-width: 225px;
			max-height: 225px;		
		}

		@include for-width-small-1-under  {
			max-width: 150px;
			max-height: 150px;		
		}

		@include for-large-landscape-under {
			max-width: 150px;
			max-height: 150px;	
		}


	}
}

/* Home Title Text */
#name-animate {

	@include for-width-small-1-under{
		font-size: 24px;
	}

	@include for-width-extra-small-only {
		font-size: 18px;
	}

}

/* Home Description */
#desc-animate {

	@include for-width-small-1-under {
		font-size: 20px;
	}

	@include for-width-extra-small-only {
		font-size: 14px;
	}

}