/* scss for Homepage */

/* SVG  */
#svgAttributes {
	padding: 0 20px;

	svg {
		width: 100%;
		height: 100%;
		max-width: 400px;
		max-height: 400px;
		filter: drop-shadow(rgba(0,0,0,0.5) 5px 5px 5px);
	}

}

/* 3: Name  */
#name-animate {
	font-size: 40px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	font-family: 'Poppins', sans-serif;
	font-weight: 800;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 5px;
	filter: drop-shadow(rgba(0,0,0,0.5) 5px 5px 5px);

	.word {
		display: inline-block;
		line-height: 1em;
	}
}

/* 4: Description  */
#desc-animate {
  font-weight: 300;
  font-size: 25px;
	font-family: 'Ubuntu', sans-serif;
	margin-bottom: 5px;
	filter: drop-shadow(rgba(0,0,0,0.5) 5px 5px 5px);

	.text-wrapper {
	  position: relative;
	  display: inline-block;
	  padding-top: 0.1em;
	  padding-right: 0.05em;
	  padding-bottom: 0.15em;
	}

	.line {
	  position: absolute;
	  left: 0;
	  height: 100%;
	  width: 3px;
	  background-color: #fff;
	  transform-origin: 0 50%;
	  margin-left: 3px;
	  opacity: 0;
	}

	.line1 { 
	  top: 0; 
	  left: 0;
	}

	.letter {
	  display: inline-block;
	  line-height: 1em;
	}

}

#button-animate-container {
}


/* Bottom: Responsive Design */
@import './home_responsive.scss';
