
@import "../mixins/_responsive-mixins.scss";

.social-icon-all {
	filter: drop-shadow(rgba(0,0,0,0.5) 2px 2px 5px);
	color: #ffffff;
	margin: 3px;
	transition: .1s all;

	&:hover {
		filter: drop-shadow(rgba(0,0,0,0.5) 0px 8px 10px);
	}
}


/* Social Icons in top bar*/
#topbar-icons {
	width: 100%;
	position: absolute;

	#social-icons-all {
		float: right;
		z-index: 200;
		top: 0;

		.social-icon-container {
			display:inline-block;
			margin-top: 10px;

			&:last-child {
				margin-right: 15px;
			}

			.social-icon-all {
				font-size: 30px;
				color: #ffffff;
				transition: .1s all;

				&:hover {
					color: #8E221D;
				}
			}
		}
	}
}

/* Social Icons topbar  Responsive */
#topbar-icons {

	#social-icons-all {

		.social-icon-container {

			@include for-width-small-4-under {
				margin-top: 10px;
			}

			.social-icon-all {

				@include for-width-small-4-under {
					font-size: 26px;
				}

			}
		}
	}
}


