/* Variables */
/* Random assortment of my commonly used breakpoints */
$width--extra-small: 250px;
$width--small-1: 300px;
$width--small-2: 400px;
$width--small-3: 500px;
$width--small-4: 600px;
$width--small-4-1: 800px;
$width--small-5: 900px;
$width--medium: 980px;
$width--large-1: 1080px;
$width--large-2: 1200px;
$width--large-3: 1800px;

$height--extra-small: 250px;
$height--small-1: 350px;
$height--small-2: 450px;
$height--small-3: 550px;
$height--small-4: 600px;
$height--small-5: 700px;
$height--large-1: 720px;
$height--large-2: 780px;
$height--large-3: 800px;
$height--large-4: 1000px;




/* Width mixins */
@mixin for-width-extra-small-only {
	@media (max-width: $width--extra-small){ @content; }
}

@mixin for-width-small-1-under {
	@media (max-width: $width--small-1){ @content; }
}

@mixin for-width-small-2-under {
	@media (max-width: $width--small-2){ @content; }
}

@mixin for-width-small-3-under {
	@media (max-width: $width--small-3){ @content; }
}

@mixin for-width-small-4-under {
	@media (max-width: $width--small-4){ @content; }
}

@mixin for-width-small-5-under {
	@media (max-width: $width--small-5){ @content; }
}

@mixin for-width-large-2-under {
	@media (max-width: $width--large-2){ @content; }
}


/* 3 - Height/Width mixins */
@mixin for-small-phone-under {
	@media (max-width: $width--small-1) and (max-height: $height--small-1){ @content; }
}

@mixin for-large-landscape-under {
	@media (min-width: $width--extra-small) and (max-height: $height--small-4){ @content; }
}