@import "~bootstrap/dist/css/bootstrap-grid.min.css";

// Header styles (title & buttons)
#projects-title-bg{

	padding-top: 125px;
	padding-bottom: 25px;
	width: 100%;
	background-color: #5F8D6C;

	#projects-title {

		h1 {
			color: #ffffff;
			filter: drop-shadow(rgba(0,0,0,0.5) 5px 5px 5px);	
		}

		#projects-buttons-container {
			margin: 25px 0;
			
		}
	}
}

// project type containers
.project-type-container {
	width: 100%;
	background-color: #3775B0;
	padding: 30px;
	.project-type-title {
		padding-top: 40px;
		color: #222222;
	}
}

.project-cta-container {
	width: 100%;
	background-color: #8E221D;
	.project-cta-title {
		padding: 50px;
		color: #ffffff;
		filter: drop-shadow(rgba(0,0,0,0.5) 5px 5px 5px);	

		h2 {
			padding-bottom: 15px;
		}
	}
}

.grey-bg {
	background-color: #222222;
}

.project-github-icon {
	font-size: 40px;
	color: #ffffff;
	transition: all 0.25s

	&:hover {
		color: #8E221D;
	}
}


// row of projects
.row-projects {
	padding: 20px 0;
	
	// individual project cards
	.project-container {
		padding-top: 25px;

		.project-card {
			padding: 20px;
			background: #ffffff;
			box-shadow: 0 15px 6px -6px rgba(0, 0, 0, 0.8);
			transition: all .25s;

			&:hover {
				box-shadow: 0 22px 6px -6px rgba(0, 0, 0, 0.8);
			}

			p {
				font-family: "Open Sans", sans serif;
			}

			img {
				max-width: 100%;
				border: 2px solid rgba(0, 0, 0, 0.8);
				box-shadow: 5px 5px rgba(0, 0, 0, 0.8);
				transition: all .25s;


				&:hover {
					border: 2px solid rgba(0, 0, 0, 0.8);
					box-shadow: 5px 5px #8E221D;
				}
			}

			.project-card-title {
				margin: 20px 0;
				font-size: 26px;

				a {
					text-decoration: none;
					color: #222222;

					&:hover {
						transition: all .25s;
						color: #8E221D;
					}
				}
			}

			.icon-go-container {
				margin-top: 10px;

				i {
					color: #222222;
					font-size: 22px;

					&:hover {
						transition: all .25s;
						color: #8E221D;
					}
				}
			}
		}
	}
}

/* Bottom: Responsive Design */
@import './projects_responsive.scss';