/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif, "Open Sans";
  font-weight: 800; }

h1 {
  font-size: 35px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 28px; }

h4 {
  font-size: 24px; }

h5 {
  font-size: 22px; }

h6 {
  font-size: 18px; }

/* General utility classes */
.full-height-width {
  height: 100%;
  width: 100%;
  min-width: 100%; }

.text-center {
  text-align: center; }

.centered-container {
  postion: relative; }
  .centered-container .centered-content {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }

/* Gradient background */
.gradient-bg {
  color: #fff;
  background: linear-gradient(-45deg, #3775B0, #C19BD1, #6EC4DB, #86C6D1);
  background-size: 400% 400%;
  -webkit-animation: Gradient 30s ease infinite;
  animation: Gradient 30s ease infinite; }

/* For animated gradient background */
@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

/* Variables */
/* Random assortment of my commonly used breakpoints */
/* Width mixins */
/* 3 - Height/Width mixins */
/* Social Icons in top bar*/
#social-icons-home {
  position: absolute;
  z-index: 200;
  width: 100%;
  margin: 0;
  top: 0; }
  #social-icons-home a:first-child {
    padding-right: 20px; }
  #social-icons-home .social-icon-home {
    font-size: 26px;
    color: #ffffff;
    float: right;
    padding: 5px;
    transition: all .25s ease-in; }
    #social-icons-home .social-icon-home:hover {
      color: #222222; }

/* Social Icons Responsive */
@media (max-width: 600px) {
  #social-icons-home .social-icon-home {
    font-size: 22px;
    padding: 5px; } }

/* scss for 404 page */
#title-404 {
  margin: 10px;
  font-size: 50px; }

#text-404 {
  margin: 10px;
  font-size: 16px; }


/*# sourceMappingURL=fourohfour.492d38d3a4782020d586.css.map*/