<title><%= title %></title>
<meta http-equiv="Content-Type" charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="<%= desc %>">
<meta name="og:title" property="og:title" content="<%= title %>">
<meta name="robots" content="index, follow">