<div id="social-icons-all">
	<div class="social-icon-container">
		<a href="https://www.github.com/garrettsherm/" target="_blank">
			<span class="social-icon-all">
				<i class="fa fa-github"></i>
			</span>
		</a>
	</div>
	<div class="social-icon-container">
		<a href="https://www.linkedin.com/in/gsherm/" target="_blank">
			<span class="social-icon-all">
				<i class="fa fa-linkedin"></i>
			</span>
		</a>
	</div>
	<div class="social-icon-container">
		<a href="https://www.linkedin.com/in/gsherm/" target="_blank">
			<span class="social-icon-all">
				<i class="fa fa-envelope"></i>
			</span>
		</a>
	</div>
</div>