<div id="social-icons-home">

	<a href="https://www.linkedin.com/in/gsherm/" target="_blank">
		<span class="social-icon-home">
			<i class="fa fa-linkedin"></i>
		</span>
	</a>

	<a href="https://www.github.com/garrettsherm/" target="_blank">
		<span class="social-icon-home">
			<i class="fa fa-github"></i>
		</span>
	</a>

</div>